<%= link_to "Chatroom", root_path, :class => "item" %>  
<a class="item"> Messages </a>
<div class="right menu">
	<%= link_to "Log In", login_path, :class => "item" %>  
	<a class="item"> Log Out </a>
		<div class="ui primary button">
			<%= link_to "Sign Up", login_path, :class => "item" %> 
	</div>
</div>